/vendor
/node_modules
.env
.git
.gitignore
README.md
Dockerfile
.dockerignore
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
tests/
phpunit.xml
docker-compose*
